@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    font-family: "Poppins", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
}
header{
    background-color: #2D25A0;
}
img{
    width: 100%;
    height: 100%;
}
.nav-btn{
    width: 123px;
    height: 44px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(224, 44, 109);
}
.banner-btn{
    width: 168px;
    height: 44px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(224, 44, 109);
}
.nav-menu-icon{
    display: none;
}






.nav-section{
   padding-top: 50px;
}
.nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links a{
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.nav-links ul{
    display: flex;
    column-gap: 35px;

}



.banner-section{
    display: flex;
    justify-content: space-between;
}
.banner-content h1{
    width: 485px;
    height: 290px;
    margin-top: 84px;
    font-weight: 700;
    font-size: 64px;
    color: rgb(255, 255, 255);
}
.banner-image{
    width: 556px;
    height: 438px;
    margin-top: 67px;
    margin-bottom: 50px;
    /* border: 1px solid red; */
    /* padding-bottom: 50px; */
}


.player-card{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.game-card{
    width: 330px;
    height: 474px;
    padding: 15px;

    /* border: 1px solid red; */
    box-shadow: 5px 8px 9px 10px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
}
.card-image{
    width: 300px;
    height: 256px;
}
.game-card h1{
    width: 300px;
    height: 40px;
}
.game-card p{
    width: 300px;
    height: 104px;
}



.highlights-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 51px;
}
.highlights-content h1{
    width: 470px;
    height: 80px;
    margin-top: 15rem;
    margin-bottom: 5rem;
    font-weight: 700;
    font-size: 48px;
    color: rgb(10, 8, 38);
}
.highlights-content p{
    width: 404px;
    height: 113px;
    /* border: 1px solid red; */
    font-weight: 400;
    font-size: 16px;
    color: rgb(108, 108, 108);
}
.highlights-image{
    width: 567px;
    height: 427px;
    margin-top: 11rem;
}


footer{
    margin-top: 8rem;
    margin-bottom: 3rem;
}
.footer-container{
    width: 483px;
    height: 213px;
    margin: auto;
    text-align: center;
}
.footer-logo{
    width: 490px;
    height: 110px;
    /* background-color: rgb(19, 22, 26); */
    /* border: 1px solid red; */
}
.footer-icon{
    width: 52px;
    height: 52px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}
.footer-icon i{
    margin: auto;
    border-radius: 50%;
    /* gap: 15px; */
    /* background-color: rgb(150, 155, 171); */
    /* border: 2px solid rgb(236, 223, 223); */
    font-size: 36px;
    text-align: center;
    align-items: center;
}
#copy-title{
    margin-top: 15px;
    /* margin-bottom: 150px; */
    font-weight: 400;
    font-size: 18px;
    color: rgb(0, 0, 0);
}


@media screen and (max-width: 576px) {
    
    .container{
        max-width: 330px;
        margin: auto;
    }
    .nav-links{
        display: none;
    }
    .nav-menu-icon{
        display: block;
        font-size: 36px;
        color: #c71717;
    }
    .banner-section{
        flex-direction: column;
    }
    .banner-image{
        width: 329px;
        height: 260px;
    }
    .banner-content h1{
        width: 278px;
        height: 188px;
        font-size: 36px;
    }
    .player-card{
        grid-template-columns: repeat(1, 1fr);
    }
    .highlights-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .highlights-image{
        width: 328px;
        height: 248px;

    }
    .highlights-content h1{
        width: 320px;
        height: 80px;
        /* margin: 0 auto; */
        font-size: 36px;
    }
    .highlights-content p{
        width: 329px;
        height: 143px;
        /* text-align: center; */
    }
    .footer-logo{
        width: 280px;
    }
    /* .footer-icon{
        margin-left: 130px;
        text-align: center;
    }
    #copy-title{
        margin-left: -155px;
    } */

    .footer-container{
        width: 328px;
    }
}